<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>

    </startup>
  <connectionStrings>
    <add name="HelloAguekeng" connectionString="data Source=localhost;user id=sa; pwd=pharaon; initial catalog=HelloAguekeng" providerName="System.Data.SqlClient"></add>
  </connectionStrings>
</configuration>
